<h1 class="text-center">Liste des produits</h1>

<!-- <p-button label="Créer produit" (onClick)="onCreate()" class="block text-center" /> -->
<p-paginator [rows]="limit" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]"
    (onPageChange)="onPageChange($event)">
</p-paginator>
<ng-container *ngIf="loading()" class="text-center">Loading...</ng-container>

<p-dataView #dv [value]=" products()">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product; let i = $index) {
        <p-card class="block mb-2">
            <div class="flex justify-between items-start gap-4">
                <div class="flex-1">
                    <span class="font-medium text-secondary text-sm">{{ product.category }} </span>
                    <div class="text-lg font-medium text-900 mt-2">
                        {{ product.code }} - {{ product.name }}
                    </div>
                    <p class="text-sm text-gray-600 mt-2">{{ product.description }}</p>
                    <div class="text-xl font-semibold text-green-600 mt-3">{{ product.price }} €</div>
                    <div class="text-xs text-gray-400 mt-1">Quantity Available :{{ product.quantity }} </div>
                    <div class="text-xs text-gray-400 mt-1">Internal Reference :{{ product.internalReference }} </div>
                    <div class="text-xs text-gray-400 mt-1">Shell ID :{{ product.shellId }} </div>
                    <div class="text-xs text-gray-400 mt-1">Inventory Stock :{{ product.inventoryStatus }} </div>
                    <div class="text-xs text-gray-400 mt-1">Rating :{{ product.rating }} </div>
                    <div class="text-xs text-gray-400 mt-1">Created Date :{{ product.createdAt | date:'dd/MM/yyyy HH:mm'
                        }} </div>
                    <div class="text-xs text-gray-400 mt-1">Updated Date :{{ product.updatedAt | date:'dd/MM/yyyy HH:mm'
                        }} </div>


                    <div class="flex gap-3 mt-1">
                        <label class="text-gray-600 text-sm mt-2">Quantité :</label>
                        <p-inputNumber [(ngModel)]="product._orderQty" [min]="1" [max]="product.quantity"
                            inputId="qty-{{ product.code }}" class="small-qty" />
                        <p-button label="Ajouter au panier" icon="pi pi-shopping-cart" severity="secondary"
                            (onClick)="onAddToCart(product)" />
                    </div>
                </div>
                <div class="w-40 h-40 flex-shrink-0">
                    <img [src]="product.image" alt="{{ product.name }}" class="w-full h-full object-cover rounded-md" />
                </div>
            </div>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <!-- <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)" />
                    <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" /> -->
                </div>
            </ng-template>
        </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible" [style]="{ width: '50vw' }" header="Ajout/Edition produit">
    <app-product-form [product]="editedProduct()" (save)="onSave($event)" (cancel)="onCancel()" />
</p-dialog>