:host {
    display: block;
    height: 100%;
    overflow: auto;
}

.small-qty ::ng-deep .p-inputnumber-input {
    width: 45px !important;
    height: 28px !important;
    padding: 2px 6px !important;
    font-size: 0.85rem;
    margin-top: 5px;
}